# Vivado Project Git Ignore

# Vivado generated log files
*.jou
*.log
*.str
*.backup.*

# Vivado Temporary files and directories
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/

Gemini.md
